terraform {
  backend "azurerm" {
    resource_group_name        = "Automation"
    storage_account_name       = "terraformstate"
    container_name             = "aks" 
    key                        = "terraform.tfstate"
  }
}